<article class="issue">
  <div class="bd">
		<p>Issue receiver: <%= @issue.receiver.plate %></p>
		<p>Creation date: <%= @issue.created_at.to_s[0..-5] %></p>
		<p>Descripción del issue: <%= @issue.description %></p>
	</div>
</article>

<p class="comments">Comments related to the issue:</p>
<% if @comments.count > 0 %>
  <% @comments.each do |comment| %>
  	<article class="comment">
      <p>Fecha de creación: <%= comment.created_at.to_s[0..-5] %></p>
  		<p>Body del comment: <%= comment.body %></p>
  	</article>
  <% end %>
<% else %>
  <p class="no_comments">The issue has not commentes yet</p>
<% end %>

<%= form_for [@comment], remote: true, format: :js, :html => {class: "new_comment"} do |f| %>
<section class="new_comment">
	<p>Post a comment: </p>
		<%= f.label :body, 'Body: ' %>
		<%= f.text_field :body, placeholder: " Comment body" %>
		<br>
		<%= f.hidden_field :issue_id, value: @issue.id %>
		<br>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <br>

		<%= f.submit 'Save' , :id => 'new_comment' %>
</section>
<% end %>

<p> <%=link_to 'Ir a Issues', user_issues_path(current_user.id) %> </p>